@using Microsoft.AspNetCore.Identity

@model IEnumerable<final_capstone.Models.Recommendation>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Recommendations" asp-action="Index">
    <p>
        Search by Neighborhood: <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.StreetAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WebsiteURL)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.DefaultView)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecommendationType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.StreetAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebsiteURL)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.DefaultView)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.ApplicationUserId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Neighborhood.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecommendationType.Name)
                </td>
                <td>
                    @if (UserManager.GetUserId(User) == item.ApplicationUserId) 
                    {
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                               
                                <a asp-action="Edit" asp-route-id="@item.RecommendationId">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.RecommendationId">Delete</a>
                               
                        </form>
                    }
                    <a asp-action="Details" asp-route-id="@item.RecommendationId">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
